{% extends 'basic.html' %}
{% block title %}Contact - Be Customized {% endblock %}


{% block body %}
{% include 'messages.html' %}

{% load static %}
<div
        class="page-banner-section section"
        style="background-image: url({% static 'img/bg/page-banner.jpg' %})"
      >
        <div class="container">
          <div class="row">
            <!-- Page Title Start -->
            <div class="page-title text-center col">
              <h1>Contact Us</h1>
            </div>
            <!-- Page Title End -->
          </div>
        </div>
      </div>



      <!-- Contact Section Start-->
      <div class="contact-section section bg-white pt-120">
        <div class="container" style="width:60%; margin-bottom:300px;">
          <div class="row">
            <div class="col-xl-10 col-12 ml-auto mr-auto">
              <div class="contact-wrapper">
                <div class="row">
                  <div class="contact-info col-lg-5 col-12">
                    <h4 class="title">Contact Info</h4>
                    <p>
                      Now with a subject field, reaching out to us is easier than ever. Share your inquiries, feedback, or suggestions, and we'll respond promptly.
                    </p>
                    </br>
                    <ul>
                      <li><span>Address:</span>Minakshi Complex, Near Alpha one Mall, Ahmedabad.</li>
                      <li><span>Email:</span>contact@gmail.com</li>
                      <li><span>Phone:</span>+91 8989898989</li>
                    </ul>
                    <div class="contact-social">
<!--                      <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                      <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                      <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--                      <a href="#"><i class="fa fa-pinterest-p"></i></a>-->
                    </div>
                  </div>
                  <div class="contact-form col-lg-7 col-12">
                    <h4 class="title">Send Your Massage</h4>
                    <form action="/contactwithus" method="post" class="">
                    {%csrf_token%}
                      <input type="text" name="name" placeholder="Your Name" />
                      <input
                        type="email"
                        name="email"
                        placeholder="Your Email"
                      />
                      <textarea
                        name="message"
                        placeholder="Your Message"
                      ></textarea>
                      <input type="submit" value="Submit" />
                    </form>
                    <p class="form-messege"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact Section End-->

     {% endblock %}