{% extends 'basic.html' %}
{% block title %}Hamper Orders - Be Customized {% endblock %}


{% block body %}
{% include 'messages.html' %}

{% load static %}
<div
        class="page-banner-section section"
        style="background-image: url({% static 'img/bg/page-banner.jpg' %})"
      >
        <div class="container">
          <div class="row">
            <!-- Page Title Start -->
            <div class="page-title text-center col">
              <h1>Hamper Orders</h1>
            </div>
            <!-- Page Title End -->
          </div>
        </div>
      </div>



      <!-- Cart Section Start-->
      <div class="cart-section section pt-120 pb-90">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="table-responsive mb-30">
                <table class="table cart-table text-center">
                  <!-- Table Head -->
                  <thead>
                    <tr>
                      <th class="number">#</th>
                      <th class="qty">Order ID</th>
                      <th class="qty">Hamper</th>
                      <th class="qty">Hamper ID</th>
                    </tr>
                  </thead>

                  <!-- Table Body -->
                  <tbody>
                  {% for hd in product_order_hampers %}
                        <tr>
                            <td style="padding:10px;"><span class="cart-number">{{ forloop.counter }}</span></td>

                            <!-- This is a product_order entry -->
                            <td style="padding:10px;"><p class="cart-pro-price">{{ hd.id }}</p></td>
                            <td style="padding:10px;"><p class="cart-pro-price">{{ hd.Hamper_id }}</p></td>
                            <td style="padding:10px;"><p class="cart-pro-price">{{ hd.Hamper_id.id }}</p></td>

                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>


            </div>
              <div class="col-12">
              <div class="table-responsive mb-30">
                <table class="table cart-table text-center">
                  <!-- Table Head -->
                  <thead>
                    <tr>
                      <th class="number">#</th>
                      <th class="qty">Order ID</th>
                      <th class="qty">Product</th>
                      <th class="qty">Product ID</th>
                    </tr>
                  </thead>

                  <!-- Table Body -->
                  <tbody>
                  {% for hd in hamper_orders %}
                        <tr>
                            <td style="padding:10px;"><span class="cart-number">{{ forloop.counter }}</span></td>

                            <!-- This is a product_order entry -->
                            <td style="padding:10px;"><p class="cart-pro-price">{{ hd.Order_id }}</p></td>
                            <td style="padding:10px;"><p class="cart-pro-price">{{ hd.Product_id }}</p></td>
                            <td style="padding:10px;"><p class="cart-pro-price">{{ hd.Product_id.id }}</p></td>

                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </div>
      </div>
      <!-- Cart Section End-->


    {% endblock %}

{% block js %}

{% endblock %}
