{% extends 'basic.html' %} 
{% block title %}Sign up - Be Customized {%endblock%} 
{% block body %} {% include 'messages.html' %} {% load static %}

<div class="contact-section section bg-white pt-120">
  <div class="container" style="width: 60%; margin-bottom: 300px">
    <div class="row">
      <div class="col-xl-10 col-10 ml-auto mr-auto">
        <div class="contact-wrapper">
          <div class="row">
            <div class="contact-form col-lg-12 col-12">
              <h4 class="title">Create Your Account</h4>
              <form
                id="contact-forms"
                action="/viewdata"
                method="post"
                enctype="multipart/form-data"
                onsubmit="return validateForm()"
              >
                {% csrf_token %}
                <input
                  type="text"
                  name="name"
                  placeholder="Your Name"
                  required
                />
                <input type="email" name="email" placeholder="Your Email" />
                <input
                  type="tel"
                  name="phone"
                  placeholder="Your Phone"
                  pattern="[6789][0-9]{9}"
                  required
                />

                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                  required
                />
                <input
                  type="password"
                  name="confpassword"
                  id="confpassword"
                  placeholder="Confirm Password"
                  required
                />

                <label>Date of birth:</label>
                <input type="date" name="dob" placeholder="Your DOB" required />
                <label>Profile Picture:</label>
                <input
                  type="file"
                  name="dp"
                  accept="image/*"
                  style="padding: 3px"
                  required
                />
                <label>You are:</label>
                <select id="usertype" name="usertype" class="form-control mb-2">
                  <option value="Vendor">Vendor</option>
                  <option value="User">User</option>
                </select>
                <textarea name="address" placeholder="Your Address"></textarea>
                <input type="submit" value="Submit" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js %}
<script>
  function validateForm() {
    // Retrieve form fields
    var dobField = document.forms["contact-forms"]["dob"].value;
    var passwordField = document.forms["contact-forms"]["password"].value;
    var confpasswordField =
      document.forms["contact-forms"]["confpassword"].value;

    // Perform validation
    // Check if DOB is 15 years above
    var dobDate = new Date(dobField);
    var currentDate = new Date();
    var minDate = new Date(
      currentDate.getFullYear() - 15,
      currentDate.getMonth(),
      currentDate.getDate()
    );

    if (dobDate > minDate) {
      alert("Date of birth should be 15 years above.");
      return false;
    }

    // Check if password and confpassword match
    if (passwordField !== confpasswordField) {
      alert("Password and Confirm Password should be the same.");
      return false;
    }

    // Check if password meets the criteria
    var passwordRegex =
      /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

    if (!passwordRegex.test(passwordField)) {
      alert(
        "Password should be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character."
      );
      return true;
    }

    return true;
  }
</script>
{% endblock %}
